.header__container{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  border-bottom: solid black 1px;
}

.logo{

}

.header__navbar{
  display: flex;
}

.header__navbar ul{
  display: flex;
}

.header__navbar li{
  display: flex;
  background-color: tomato;
  border: solid black 1px;
}

.header__navbar li a{
  display: block;
}

.connection__container{
  display: flex;
}

.connection__button{
  background-color: lightcoral;
  border: solid black 1px;
}

